 {% extends 'base.html' %}
 {% block content %}

<h1>Welcome to Soccerholic</h1>

<h5>Nama aplikasi: </h5>
<p>{{ nama_aplikasi }}</p>
<h5>Nama: </h5>
<p>{{ nama }}<p>
<h5>Kelas: </h5>
<p>{{ kelas }}</p>

<!-- menampilkan data product dan tombol add product -->
<a href = "{% url 'main:add_product' %}">
    <button> + Add Product </button>
</a>

<hr>

{% if not product_list %}
<p>There are no products available in the shop yet.</p>

{% else %}
  {% for product in product_list %}
    <div>
    <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

    <p><b>Price:</b> ${{ product.price }} | <b>Category:</b> {{ product.get_category_display }}
    {% if product.is_featured %} | <b>Featured</b>{% endif %}</p>
        {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="thumbnail" height="100">
        <br />
    {% endif %}

    <p>{{ product.description|truncatewords:25 }}...</p>
    <p><a href="{% url 'main:show_product' product.id %}">
        <button>Read More</button></a></p>       
    </div>
    <hr>
    {% endfor %}

{% endif %}

{% endblock content %}