{% extends 'base.html' %}
{% block content %}
<!-- untuk kembali ke halaman utama -->
<p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

<h1>{{ product.name }}</h1>
<p>
    <b>Price:</b> ${{ product.price }} | 
    <b>Category:</b> {{ product.get_category_display }}
    {% if product.is_featured %} | <b>Featured</b>{% endif %}
</p>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ product.description }}</p>

{% endblock content %}